<% provide :title, t("help_page.help") %>
<div class="mt-5 mb-5">
  <h1><%= t "help_page.name_page" %></h1>
  <p>
    <%= t "help_page.text_1" %>
    <%= link_to t("help_page.name"), Settings.link.rails %>
    <%= t "help_page.text_2" %>
    <%= link_to t("help_page.book_name"), Settings.link.rails %>
  </p>
</div>
