<% provide :title, t("home_page.home") %>
<% if logged_in? %>
  <div class="mt-5 mb-5">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
        <section class="micropost_form">
          <%= render "shared/micropost_form" %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3><%= t "micropost_feed" %></h3>
        <%= render "shared/feed" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron mt-5 mb-5">
    <h1><%= t "home_page.chao" %></h1>
    <h2>
      <%= t "home_page.this_homepage" %>
      <%= link_to t("home_page.course_name"), Settings.link.rails %>
      <%= t "home_page.sampleapp" %>
    </h2>
      <%= link_to t("home_page.sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo", width: "200px"), Settings.link.rails %>
<% end %>
