<h1><%= t "forgotPassword.title" %></h1>
<p><%= t "forgotPassword.text1" %></p>
<%= link_to t("forgotPassword.title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "forgotPassword.text2" %></p>
<p>
  <%= t "forgotPassword.text3" %>
</p>
