<h1><%= t "forgot_password.title" %></h1>
<p><%= t "forgot_password.text_huong_dan" %></p>
<%= link_to t("forgot_password.title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "forgot_password.text_lk_het_hang" %></p>
<p>
  <%= t "forgot_password.text_tb_mk_nhu_cu" %>
</p>
