<% provide :title, @user.name %>
<div class="mt-5 mb-5">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render "follow_form" if logged_in? %>
      <% if @microposts.any? %>
        <h3>Microposts (<%= @microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
</div>
